*{
    font-family:Microsoft JhengHei, "微軟正黑體", LiHei Pro, "儷黑體", PMingLiu,"新細明體", sans-serif;
}
.logo{
     height: 25px;
    background: url("../img/logo.png") no-repeat center center;
    background-size: 275px 25px;
    width: 275px;
}
@media (max-width:767px) {
.logo{
    height: 20px;
   background: url("../img/logo.png") no-repeat center center;
   background-size: 220px 20px;
   width: 220px;
}}
.hr{
     height: 13px;
    background: url("../img/hr.png") no-repeat center center;
    background-size: 1140px 13px;
    width: 1140px;
    margin-bottom: 50px;
}
.ad{
    min-height: 460px;
    margin-top: 50px;
}

.hr-model{
    height: 13px;
   background: url("../img/hr.png") no-repeat center center;
   background-size: 1140px 13px;
   
   margin-top: 30px;
   margin-bottom: 10px;
}
#services{
    background: #181818
}
.img-square{
    width: 130px;
    border-radius: 50%;
    border: 1px solid rgb(45, 49, 52);
}
.text-muted {
    color: #b78d3f!important
}
.button-background{
    background: transparent;
    border: 0px;
    margin-left: 20px;
    outline: none;
}
.paddingleft10px{
    padding-left:10px;
}

.nav-tabs .nav-link {
    background-color: #c9c19e;
    color: white;
    border-top-left-radius: .0rem; 
    border-top-right-radius: 0rem;
}
.nav-tabs .nav-link:hover {
    background-color: #c9c19e;
    color: #9b5b00;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    border: 1px solid white;
}
.footer-logo{
    color: white;
    padding: 50px;
    background: #2c3033;
    border-radius: 12px;
    margin-left: 5px;
}